In [2]:
# import module
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
sns.set()

In [8]:
data = pd.read_csv('car data.csv', usecols=["Year", "Selling_Price", "Present_Price", "Kms_Driven", "Owner"])
data.head()

   Year  Selling_Price  Present_Price  Kms_Driven  Owner
0  2014           3.35           5.59       27000      0
1  2013           4.75           9.54       43000      0
2  2017           7.25           9.85        6900      0
3  2011           2.85           4.15        5200      0
4  2014           4.60           6.87       42450      0

In [13]:
X = data.drop(columns = 'Present_Price')
y = data['Present_Price']

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [27]:
print(f'X_train : {X_train.shape}')
print(f'y_train : {y_train.shape}')
print(f'X_test : {X_test.shape}')
print(f'y_test : {y_test.shape}')

X_train : (210, 4)
y_train : (210,)
X_test : (91, 4)
y_test : (91,)

In [28]:
model = LinearRegression()

In [29]:
model.fit(X_train, y_train)

LinearRegression()

In [32]:
print(f'slope : {model.coef_}\n')
print(f'intercept : {model.intercept_}')

slope : [-7.32233949e-01  1.73916013e+00  7.92968869e-06  2.43765396e+00]

intercept : 1473.8548930735708

In [35]:
coef_dict = {'features' : X.columns,
            'coef_value' : model.coef_}
coef = pd.DataFrame(coef_dict, columns=['features', 'coef_value'])
coef

        features  coef_value
0           Year   -0.732234
1  Selling_Price    1.739160
2     Kms_Driven    0.000008
3          Owner    2.437654

In [36]:
y_pred = model.predict(X_test)

In [42]:
model.score(X_test,y_test)

0.7819901336008077

In [53]:
# test prediksi jika ingin memprediksi harga mobile dengan spesifikasi tahun 2016, budget 7.0, kilometer 8000, kategori mobil baru
model.predict([[2022, 7.0, 8000, 0]])
# diprediksi harga mobilnya 5.5

array([5.51540699])